<mat-vertical-stepper linear=false #stepper>
    <mat-step [stepControl]="customerFormGroup">
        <form [formGroup]="customerFormGroup">
            <ng-template matStepLabel>Fill out Customer Details</ng-template>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput placeholder="John Snow" formControlName="name">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Phone</mat-label>
                <input matInput placeholder="919495345789" formControlName="phoneNumber">
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>

    <mat-step [stepControl]="productFormGroup">
        <form [formGroup]="productFormGroup" class="content-product">
            <div *ngFor="let product of productFormGroup.get('items')['controls']; let i = index;">
                <div *ngIf="product">
                    <div [formGroupName]="i">
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Personal data
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        Type your name and age
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </div>
            <ng-template matStepLabel>Fill out Item Details</ng-template>
            <div formArrayName="items">
                <div *ngFor="let product of productFormGroup.get('items')['controls']; let i = index;">
                    <div [formGroupName]="i">
                        <div class="product-container">
                            <div class="field-group">
                                <mat-form-field ngClass="item">
                                    <mat-label>Item</mat-label>
                                    <input matInput type="text" placeholder="1,2..." formControlName="item">
                                </mat-form-field>
                                <mat-form-field class="quantity">
                                    <button mat-button mat-icon-button matPrefix aria-label="Remove" color="red"
                                        (click)="onDecrement(i)" [disabled]="shouldDisableDecrement(i)">
                                        <mat-icon>remove</mat-icon>
                                    </button>
                                    <mat-label>Quantity</mat-label>
                                    <input matInput type="number" formControlName="quantity">
                                    <button mat-button mat-icon-button matSuffix aria-label="Add" color="green"
                                        (click)="onIncrement(i)">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </mat-form-field>
                                <mat-form-field class="rate">
                                    <button mat-button mat-icon-button matPrefix aria-label="Remove" color="red"
                                        (click)="onDecrementMinusTen(i)" [disabled]="shouldDisableDecrement(i)">
                                        <mat-icon>remove</mat-icon><span class="incr">10</span>
                                    </button>
                                    <mat-label>Rate</mat-label>
                                    <input matInput type="number" formControlName="rate">
                                    <button mat-button mat-icon-button matSuffix aria-label="Add" color="green"
                                        (click)="onInclementPlusTen(i)">
                                        <mat-icon>add</mat-icon><span class="incr">10</span>
                                    </button>
                                </mat-form-field>


                            </div>
                            <div class="field-group-remark">
                                <mat-form-field class="remark">
                                    <mat-label>Remark</mat-label>
                                    <textarea matInput type="text" placeholder="1,2..."
                                        formControlName="remark"></textarea>
                                </mat-form-field>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <button mat-button (click)="addProducts()">Add</button>
        </form>
    </mat-step>
</mat-vertical-stepper>