<div [ngClass]="contentClass">
    <h2>Find Status </h2>
    <form [formGroup]="customerData" (ngSubmit)="onSubmit()" ngClass="form-field-custom">
        <mat-button-toggle-group aria-label="Select a store" formControlName="selectedStore">
            <mat-button-toggle value="Veloor" [checked]=true>Veloor</mat-button-toggle>
            <mat-button-toggle value="Velappaya">Velappaya</mat-button-toggle>
            <mat-button-toggle value="Mulamkunnathkavu">MgKavu</mat-button-toggle>
        </mat-button-toggle-group>
        <br>
        <mat-form-field [ngClass]="{ 'has-error': submitted && f.id.errors }" >
                <mat-label>Phone number/ Bill Number</mat-label>
                <input matInput placeholder="9789821252" formControlName="id" value="919789821252/VA1000">
                <div *ngIf="submitted && f.id.errors" class="help-block">
                    <div *ngIf="f.id.errors.required">Phone no/ Bill number is required</div>
                </div>

        </mat-form-field>
        <button mat-icon-button color="primary" type="submit" [disabled]="!customerData.valid">
            <mat-icon>send</mat-icon>
        </button>


    </form>
    <div *ngIf="showSpinner; then show"> </div>
    <ng-template #show>
        <mat-spinner></mat-spinner>
    </ng-template>
    <div *ngIf="showResult; then thenBlock else elseBlock"> </div>
    <ng-template #thenBlock>
        <mat-accordion class="accordion-extend">
            <mat-expansion-panel *ngFor="let data of dataSource" (opened)="panelOpenState = true"
                (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon [ngClass]="data.iconClass">{{data.iconName}}</mat-icon><span
                            ngClass="card-header">{{data.billNumber}}</span>
                    </mat-panel-title>
                    <mat-panel-description ngClass="card-header-date">
                        {{ data.date | date:'mediumDate' }}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div>Name : {{data.name}}</div>
                <div>Phone number : {{data.phoneNumber}}</div>
                <div>Due Date: {{data.dueDate | date:'mediumDate'}}</div>
                <div>Total: {{data.total}} Rupees</div>
                <div>Items :
                    <mat-list *ngFor="let item of data.items">
                        <mat-list-item>
                            <mat-icon [ngClass]="item.iconClass">{{item.iconName}}</mat-icon>
                            <span ngClass="item-details">{{item.name}}</span>
                            <span ngClass="circle-total">{{item.totalPieces}}</span>
                            <span ngClass="circle-done">{{item.finishedPieces}}</span>
                            <div *ngIf="item.damagedPieces; then thenBlock"> </div>
                            <ng-template #thenBlock>
                                <span ngClass="circle-damaged">{{item.damagedPieces}}</span>
                            </ng-template>
                        </mat-list-item>
                        <!-- <mat-grid-list cols="2" rowHeight="2:1">                
                        
                            <mat-grid-tile ngClass="tile-spec">
                                <span matBadge="{{item.finishedPieces}}" matBadgeOverlap="false">Fished</span>
                            </mat-grid-tile>
                            <mat-grid-tile ngClass="tile-spec">
                                <span matBadge="{{item.damagedPieces}}" matBadgeOverlap="false">Damaged</span>
                            </mat-grid-tile>
                        </mat-grid-list> -->
                        <mat-divider></mat-divider>
                    </mat-list>

                </div>
                <mat-action-row>
                    <a mat-raised-button [href]="data.link" target="_blank" color="primary">Send to WhatsApp</a>
                </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>
    </ng-template>
    <ng-template #elseBlock>
        <div *ngIf="isResultNotFound; then thenBlock"></div>
        <ng-template #thenBlock>No Results found</ng-template>
    </ng-template>
</div>