.example-form {
    min-width: 100px;
    max-width: 150px;
    width: 100%;
  }
  
  .input-width {
    width: 80%;
  }

  .status-margin {
    margin-left: 10%;
    margin-top: 5%;
    margin-right: 10%;

  }
  table{
    width: 100%;
   }

   .custom-list-item .mat-list-item {
    height: 20px;
  }
 
  .yellow-icon {
    color: orange;
}
.error-icon {
  color: red;
}