<div class="status-margin">
    <h2>Find Status </h2>
    <form [formGroup]="customerData" (ngSubmit)="onSubmit()">
        <mat-form-field [ngClass]="{ 'has-error': submitted && f.custPhoneNumber.errors }">
            <mat-label>Customer phone number</mat-label>
            <input matInput placeholder="9789821252" formControlName="custPhoneNumber" value="9789821252">
            <div *ngIf="submitted && f.custPhoneNumber.errors" class="help-block">
                <div *ngIf="f.custPhoneNumber.errors.required">Phone no is required</div>
            </div>
        </mat-form-field>


        <button mat-icon-button color="primary" type="submit" [disabled]="!customerData.valid">
            <mat-icon>send</mat-icon>
        </button>
    </form>

    <div *ngIf="showResult; else elseBlock">
        <mat-accordion  class="accordion-extend">
            <mat-expansion-panel  *ngFor="let data of dataSource" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header >
                    <mat-panel-title >
                        Bill NO: {{data.billNumber}} 
                    </mat-panel-title> 
                    <mat-panel-description>
                            <mat-icon [ngClass]="data.iconClass" inline="true" >{{data.iconName}}</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div>Name : {{data.name}}</div>
                <div>Phone number : {{data.phoneNumber}}</div>
                <div>Items :
                    <mat-list ngClass="custom-list-item" *ngFor="let item of data.items">
                        <!--<mat-list-item> <span [matBadge]="item.quantity" matBadgeOverlap="false" matBadgeSize="small">{{item.name}}</span> </mat-list-item>--->
                        <div ><span >{{item.quantity}}</span></div>
                    </mat-list>
                </div>
                <mat-action-row>
                    <a mat-raised-button [href]= "data.link" target="_blank" color="primary">Send to WhatsApp</a>
                </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <ng-template #elseBlock>
        <div ngIf="isSearched">
            No Results found
        </div>
        Go Ahead
    </ng-template>
</div>