<div class="update-content">
    <form [formGroup]="customerData" (ngSubmit)="onSubmit()" ngClass="form-field-custom">
        <mat-button-toggle-group color="primar" aria-label="Select a store" formControlName="selectedStore">
            <mat-button-toggle value="Veloor" [checked]=true>Veloor</mat-button-toggle>
            <mat-button-toggle value="Velappaya">Velappaya</mat-button-toggle>
            <mat-button-toggle value="Mulamkunnathkavu">MgKavu</mat-button-toggle>
        </mat-button-toggle-group>
        <br>
        <mat-form-field [ngClass]="{ 'has-error': submitted && f.id.errors }">
            <mat-label>Phone number/ Bill Number</mat-label>
            <input matInput placeholder="9789821252" formControlName="id" value="919789821252/VA1000">
            <div *ngIf="submitted && f.id.errors" class="help-block">
                <div *ngIf="f.id.errors.required">Phone no/ Bill number is required</div>
            </div>
        </mat-form-field>
        <button mat-icon-button color="primary" type="submit" [disabled]="!customerData.valid">
            <mat-icon>send</mat-icon>
        </button>
    </form>
    <div *ngIf="showSpinner; then show"> </div>
    <ng-template #show>
        <div class="spinner-wrapper">
            <mat-progress-spinner mode="indeterminate" diameter=30></mat-progress-spinner>
        </div>
    </ng-template>
    <div *ngIf="showResult; then thenBlock else elseBlock"> </div>

    <ng-template #thenBlock>
        <div class="result">
            <mat-card role="group">
                <mat-card-title>
                    <mat-icon [ngClass]="customerFormGroup.value.statusIconClass">
                        {{customerFormGroup.value.statusIconName}}</mat-icon>
                    <span> {{customerFormGroup.value.billNumber}}</span>
                </mat-card-title>
                <mat-card-subtitle>
                    <mat-list role="dense">
                        <mat-list-item>
                            <div style="width: 100%; text-align: right;">
                                <span>{{customerFormGroup.value.date | date:'mediumDate'}}</span></div>
                        </mat-list-item>
                        <mat-list-item>
                            <mat-icon matPrefix color="primary">account_circle</mat-icon>
                            <span style="width: 70%;" class="preview-meta">{{customerFormGroup.value.name}}</span>
                            <mat-icon matPrefix color="primary">phone</mat-icon>
                            <span style="width: 30%;"
                                class="preview-meta">{{customerFormGroup.value.phoneNumber}}</span>
                        </mat-list-item>
                    </mat-list>
                </mat-card-subtitle>
                <mat-card-content>
                    <mat-accordion multi>
                        <mat-expansion-panel expanded hideToggle *ngFor="let product of orderFormGroup.get('items')['controls'];">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{product.value.itemName}}
                                </mat-panel-title>
                                <mat-panel-description style="display: inline;">
                                    {{product.value.totalCount}}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <form [formGroup]="product">
                                <mat-form-field class="item-view">
                                    <mat-label>Rate</mat-label>
                                    <input matInput type="tel" readonly=true formControlName="rate">
                                </mat-form-field>
                                <mat-form-field class="item-view">
                                    <mat-label>Done</mat-label>
                                    <input matInput type="tel" formControlName="finishedCount">
                                </mat-form-field>
                                <mat-form-field class="item-view">
                                    <mat-label>Return</mat-label>
                                    <input matInput type="tel" formControlName="returnCount">
                                </mat-form-field>
                            </form>
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-card-content>
                <mat-card-actions style="text-align: right;">
                    <button mat-raised-button color="primary" (click)="submit()">Save </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </ng-template>
    <ng-template #elseBlock>
        <div *ngIf="isResultNotFound; then thenBlock"></div>
        <ng-template #thenBlock>No Results found</ng-template>
    </ng-template>

</div>