.update-content {
    margin: 10px;
}
.mat-button-toggle-checked {
    background-color: blue;
    color: white;
}
.preview-meta {
    margin-left: 15px;
}
.spinner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
.result {
    margin-right: 50%;
}
.card-header {
    font-size: 13px;
}
.inprogress-icon {
    color: orange;
  }
  .error-icon {
    color: red;
  }
  .done-icon {
    color: green;
  }
  .delivered-icon {
    color: #2323df;
  }
.result .mat-expansion-panel-header-description {
    text-align:right;
    margin-right: 10%;
  }
.item-view {
    width: 20%;
    margin-left: 25px;
    text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 530px) {
    .result {
        margin-right: auto;
    }
}
