.update-content {
    margin: 10px;
}
.mat-button-toggle-checked {
    background-color: blue;
    color: white;
}
.preview-meta {
    margin-left: 15px;
}
.spinner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
